<div class="vert">
  <form class="form-signin" nonvalidate #f=ngForm>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus ngModel required pattern="[^ @]*@[^ @]*" [ngClass]="{
      'is-invalid': f.form.controls.email?.invalid && (f.form.controls.email?.dirty || f.form.controls.email?.touched),
      'is-valid': f.form.controls.email?.valid && (f.form.controls.email?.dirty || f.form.controls.email?.touched)}" [(ngModel)]="email">
    </div>
    <div class="mt-sm-2">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="password" required minlength="4" [ngClass]="{
      'is-invalid': f.form.controls.pwd?.invalid && (f.form.controls.pwd?.dirty || f.form.controls.pwd?.touched),
      'is-valid': f.form.controls.pwd?.valid && (f.form.controls.pwd?.dirty || f.form.controls.pwd?.touched)}" [(ngModel)]="password">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Sign in</button>
    <div *ngIf="error" style="color:red">Invalid email or password</div>
  </form>
</div>
